img { border: none; } /* dock - top */
.dock { z-index: 111111111111111111; background-image: url(''); background-repeat: repeat-y position: relative; height: 100px; text-align: center; }
.dock-container { position: absolute; height: 100px; background: url(); padding-left: 40px; }
a.dock-item {
	display: block;
	width: 80px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 16px Arial, Helvetica, sans-serif;
	color: #FF0000;
	margin-top: 20px;
}
.dock-item img { border: none; margin: 5px 10px 0px; width: 100%; }
.dock-item span { display: none; padding-left: 40px; }
#dock2 { width: 100%; bottom: 0px; position: absolute; left: 0px; }
.dock-container2 { position: absolute; height: 100px; background: url(file:///E|/Attente/images/dock-bg.gif); padding-left: 20px; }
a.dock-item2 { display: block; font: bold 12px Arial, Helvetica, sans-serif; width: 80px; color: #F00; bottom: 0px; position: absolute; text-align: center; text-decoration: none;margin-top: 20px; }
.dock-item2 span { display: none; padding-left: 20px; }
.dock-item2 img { border: none; margin: 5px 10px 0px; width: 100%; }